header {
  background-color: #333;
  color: #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-size: 2.5rem;

    display: inline-block;
  }
  .navItem {
    padding: 0.7em 1em;
    display: inline-block;
  }
  .navItem.active {
    background-color: #858585;
  }
  .navItem:hover {
    background-color: #858585;
  }
}
